body{
    font-family: "Microsoft YaHei";
}
a:hover,a:active,a:focus{
    text-decoration: none;
}
/*login page*/
.bg_login{
    background: #222d32;
}
.mt_150{
    margin-top: 150px;
}
.mr_50{
    margin-right: 50px;
}
.mb_15{
    margin-bottom: 15px;
}
/*main page*/
.ad_aside{
    width: 180px;
    height: 100%;
    background: #222d32;
    position: absolute;
}
.ad_aside .brand{
    width: 100%;
    height: 50px;
    background: #367fa9;
}
.ad_aside .brand a{
    color: #fff;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.ad_aside .user{
    padding: 30px 20px;
}
.ad_aside .user img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}
.ad_aside .user span{
    color: #fff;
    font-size: 12px;
}
.ad_aside .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ad_aside .menu ul li{
}
.ad_aside .menu ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #aaa;
    border: 3px solid transparent;
    padding-left: 30px;
}
.ad_aside .menu ul li.now > a{
    border-left-color: #3c8dbc;
    background: #1d1f21;
    color: #fff;
}
.ad_aside .menu ul li .child a{
    height: 30px;
    line-height: 30px;
    padding-left: 50px;
    font-size: 12px;
}
.ad_aside .menu ul li .child a.now{
    color: #fff;
}



.ad_section{
    padding-left: 180px;
}
.ad_section.menu{
    padding-left: 0;
}
.ad_section .ad_nav{
    height: 50px;
    background: #3c8dbc;
    margin-bottom: 20px;
}
.ad_section .ad_nav a{
    font-size: 16px;
    color: #fff;
    margin-top: 14px;
}
.ad_section .ad_nav a:first-child{
    margin-left: 15px;
    float: left;
}
.ad_section .ad_nav a:last-child{
    margin-right: 15px;
    float: right;
}

.ad_content{
    margin-top: 20px;
}
.ad_content .picTable{
    float: left;
    width: 45%;
    height: 400px;
}
.ad_content .picTable:first-child{
    margin-right: 10%;
}

.table th,.table td{
    text-align: center;
}
.page{
    text-align: right;
}
.page .pagination{
    margin-top: 0;
}